.header{
    height: 50px;
    align-items: center;
    background-color: var(--bs-primary);
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}
.header h1{
    color: var(--bs-dark);
    text-align: center;
}
.header form{
    width: auto;
    min-width: 50%;
}
@media (max-width:767px) {
    .header h1{
        font-size: 20px;
    }
    
}